Django==1.7
Fabric==1.10.0
Pillow==2.6.0
boto==2.33.0
django-allauth==0.18.0
django-bootstrap3==4.11.0
django-configurations==0.8
django-debug-toolbar==1.2.1
ecdsa==0.11
oauthlib==0.6.3
paramiko==1.15.1
psycopg2==2.5.4
pycrypto==2.6.1
python-memcached==1.53
python-openid==2.2.5
requests==2.4.3
requests-oauthlib==0.4.1
sorl-thumbnail==11.12.1b
sqlparse==0.1.13
wsgiref==0.1.2
