<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="badge">Photorizer</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li>
                    <a href="{% url 'photorizer.views.main_view' %}">HOME</a>
                </li>
                <li>
                    <a href="/accounts/register/">REGISTER</a>
                </li>
                <li>
                    <a href="{% url 'login' %}">LOGIN</a>
                </li>
                <li>
                    <a href="{% url 'logout' %}">LOGOUT</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

