{% extends 'photorizer/base.html' %}

{% block content %}
<div class="container">
    <h1>Photos List</h1>
    <hr />
    <table border="2">
        <tr>
            <th>Photos:</th>
            <th>Date Added:</th>
        </tr>
        {% for photo in photos %}
        <tr>
            <td>&nbsp;{{ photo.name }}&nbsp;</td>
            <td>&nbsp;{{ photo.created }}&nbsp;</td>
        </tr>
        {% endfor %}
    </table>
</div>
<div>
    {% for photo in photos %}
    <p> {{ photo.name }} </p>
    <a><img src="{{  photo.image.url }}"></a>
    {% endfor %}
</div>

{% endblock %}
