{% extends 'photorizer/base.html' %}
{% load thumbnail %}
{% block dropdown %}
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">ACTIONS<b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a href="{% url 'photorizer.views.add_tag_view' %}">Add Category</a></li>
            <li><a href="{% url 'photorizer.views.delete_tag_view' %}">Delete Category</a></li>
        </ul>
    </li>
{% endblock %}
{% block content %}
<div>
    {% for photo in photos %}
    <a>
            {% thumbnail photo.image "150x150" crop="center" as im %}
            <a href="{% url 'photorizer.views.photo_view' photo.pk %}"><img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
            {% endthumbnail %}
    </a>
    {% endfor %}
</div>
{% endblock %}